<% link_to root_path, :class=> 'shadable', :id=>'logo' do %>
  <%= image_tag '/images/captions/logo.png', :alt =>'Studio DAS' %>
<% end %>
<div id='mainHeader'>
  <%= image_tag '/images/captions/studioTitle.png', :alt =>'Студия' %>
  <%= image_tag '/images/captions/comment.png', :alt =>'Группа молодых дизайнеров', :id=>'comment' %>
</div>   
<div id='content'>
  <div id='description'>
    <%= image_tag '/images/studio-main.png', :alt =>'Фотография интерьера', :id => 'studioImg' %>
    <p>Ооооооооооооооооооочень длинное описание нас любимых</p>
  </div>


<div id='people'>
<% @users.each do |user| %>
  <% link_to user_path(user), :class=> 'shadable' do %>
    <%= image_tag user.thumb.url(:thumb), :class => 'preview', :alt => h(user.name+' '+user.surname) %>
  <% end %>
<% end %>
</div>
</div>