<h1>Listing users</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Birth date</th>
    <th>Decription</th>
    <th>Is admin</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.login %></td>
    <td><%=h user.name %></td>
    <td><%=h user.surname %></td>
    <td><%=h user.birth_date %></td>
    <td><%=h user.description %></td>
    <td><%=h user.is_admin %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <!--<% if current_user && current_user.is_admin %>-->
    
    <!--<td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>-->
    <!--<% end %>-->
    
  </tr>
<% end %>
</table>

<br />