<% link_to root_path, :class=> 'shadable', :id=>'logo' do %>
  <%= image_tag '/images/captions/logo.png', :alt =>'Studio DAS' %>
<% end %>
<div id='mainHeader' class = 'wide' >
  <%= image_tag '/images/captions/studioTitle.png', :alt =>'Студия'%><br />
  <%= image_tag '/images/captions/comment.png', :alt =>'Группа молодых дизайнеров', :id=>'comment' %>
</div>  

<div id='content'>
<h2> Добавление нового архитектора</h2>
<% form_for(@user, :html => { :multipart => true }) do |form| %>
  <center>
  <table id='formTable'>

  <tr><td colspan=2>
  <%= form.error_messages %>
  </td></tr>

  <%= render :partial => "form", :object => form %>
 
  </table>
  <br>
  <%= form.submit "Добавить" %>
  </center>
<% end %>

</div>