<% link_to root_path, :class=> 'shadable', :id=>'logo' do %>
  <%= image_tag '/images/captions/logo.png', :alt =>'Studio DAS' %>
<% end %>
<div id='mainHeader' class = 'wide' >
  <%= image_tag '/images/captions/studioTitle.png', :alt =>'Студия'%><br />
  <%= image_tag '/images/captions/comment.png', :alt =>'Группа молодых дизайнеров', :id=>'comment' %>
</div>   


<div class='rArrowPers'>
<% link_to user_path(@user.next), :class => 'arrow' do %>
  <%= image_tag '/images/rightArrow.png', :alt =>'Следующий' %>
<% end %>
</div>


<div id='personDesc'>
  <p id='name'><%= h(@user.surname+' '+@user.name) %></p>
  <p><%=h @user.description %></p>
  
  <%if current_user and @user.is_admin %>
  <p>Администратор сайта</p>
  <%end%>

</div>
<div id='personImg'> 
  <%= image_tag @user.photo.url(:cut), :alt=> h(@user.name+' '+@user.surname)%>
</div>

<div class='lArrowPers'>
<% link_to user_path(@user.prev), :class => 'arrow' do %>
  <%= image_tag '/images/leftArrow.png', :alt =>'Предыдущий' %>
<% end %>
</div>
