<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Name:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Surname:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Description:</b>
  <%=h @user.description %>
</p>

<% if @user.thumb.exists? then %>
<p>Thumb:<%= image_tag @user.thumb.url %></p>
<% else %>
<p> There are no photo's attached, upload one. </p>
<% end %>

<% if @user.photo.exists? then %>
<p>Thumb:<%= image_tag @user.photo.url %></p>
<% else %>
<p> There are no photo's attached, upload one. </p>
<% end %>


<%if @user.is_admin %>
<p>Is admin</p>
<%end%>
 
<% if current_user && (current_user.is_admin||@user.id==current_user.id) %>
<%= link_to 'Edit', edit_user_path(@user) %>|
<% end %>

<%= link_to 'All users', users_path %>