<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Name:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Surname:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Description:</b>
  <%=h @user.description %>
</p>
 
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>