<% link_to root_path, :class=> 'shadable', :id=>'logo' do %>
  <%= image_tag '/images/captions/logo.png', :alt =>'Studio DAS' %>
<% end %>
<div id='mainHeader' class = 'wide' >
  <%= image_tag '/images/captions/projectsTitle.png', :alt =>'Проекты'%><br />
  <%= image_tag '/images/captions/comment.png', :alt =>'Группа молодых дизайнеров', :id=>'comment' %>
</div>  

<div id='content' style="width:758px">

<% form_for(@project, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows=>2, :cols=>23 %><br/>
    Thumb <%= f.file_field :thumb %>
    </p>
<p>Photos</p>
<table><tr>
<% @project.attached_photos.each do |photo| %>
  <td>
    <% if photo.photo.exists? then %>
      
      <%= image_tag photo.photo.url %><br />
      <%= link_to 'Delete', project_attached_photo_path(@project, photo), :method => :delete, :confirm => "Are you sure?"%>
      
    <% else %>
       Missed photo.
    <% end %>
  <td>
<% end %>
<td><%= link_to 'New Photo', new_project_attached_photo_path(@project) %></td>
</tr></table>

<p>
Author:<%= collection_select(:project, :author_id, User.all, :id, :name, options ={:prompt => "-Select author"}) %>
 </p> 
<p>
    <%= f.label :date %>
    <%= f.date_select :date %>
</p>

    <%= f.submit 'Update' %>

<% end %>

</div>