<% link_to root_path, :class=> 'shadable', :id=>'logo' do %>
  <%= image_tag '/images/captions/logo.png', :alt =>'Studio DAS' %>
<% end %>
<div id='mainHeader' class = 'wide' >
  <%= image_tag '/images/captions/projectsTitle.png', :alt =>'Проекты'%><br />
  <%= image_tag '/images/captions/comment.png', :alt =>'Группа молодых дизайнеров', :id=>'comment' %>
</div>  

<div id='content'>

<h2>Изменение данных проекта</h2>
<center>

<% form_for(@project, :html => { :multipart => true }) do |form| %>
  <table  id='formTable'>
  <tr><td><%= form.error_messages %></td></tr>
    <tr>
    <td style = 'border-right: solid white 2px'> 

      <p>
        <% unless @project.first? %> 
          <%= link_to "<<", {:action =>'move', :method => 'move_to_top', :id => @project.id } %>|<%= link_to "<", {:action => 'move', :method => 'move_higher', :id => @project.id} %> 
        <% end %> 
        Номер в разделе: <%=h @project.position %>
        <% unless @project.last? %> 
          <%= link_to ">", {:action => 'move', :method => 'move_lower', :id => @project.id } %>|<%= link_to ">>", {:action => 'move', :method => 'move_to_bottom', :id => @project.id } %> 
        <% end %>
      </p>
      
      <%= render :partial => "form", :object => form %>
      <br><%= form.submit 'Сохранить' %>
    </td>
    <td>

<h4>Photos</h4>
<p style="text-align: center" >
<%= link_to 'New Photo', new_project_attached_photo_path(@project) %>
</p>
<div id='photos_edit'>
<% @project.attached_photos.each do |photo| %>
    <div class='photo_edit'>
      <p>
        <% unless photo.first? %> 
          <%= link_to "<<", {:controller =>'attached_photos', :action =>'move', :method => 'move_to_top', :id => photo.id, :project_id => @project.id } %>|<%= link_to "<", {:controller =>'attached_photos', :action => 'move', :method => 'move_higher', :id => photo.id, :project_id => @project.id } %> 
        <% end %> 
        <%=h photo.position %>
        <% unless photo.last? %> 
          <%= link_to ">", {:controller =>'attached_photos', :action => 'move', :method => 'move_lower', :id => photo.id, :project_id => @project.id } %>|<%= link_to ">>", {:controller =>'attached_photos', :action => 'move', :method => 'move_to_bottom', :id => photo.id, :project_id => @project.id } %> 
        <% end %>
      </p>
      
      <% if photo.photo.exists? then %>
        <%= image_tag photo.photo.url(:cut), :class => 'preview' %><br />
    <% else %>
       Missed photo.
    <% end %><br />
    <%= link_to 'Delete', project_attached_photo_path(@project, photo), :method => :delete, :confirm => "Are you sure?"%>
    </div>
<% end %>
</div>

  </td></tr></table>

    

<% end %>
</center>
</div>