<% link_to root_path, :class=> 'shadable', :id=>'logo' do %>
  <%= image_tag '/images/captions/logo.png', :alt =>'Studio DAS' %>
<% end %>
<div id='mainHeader' class = 'wide' >
  <%= image_tag '/images/captions/projectsTitle.png', :alt =>'Проекты'%><br />
  <%= image_tag '/images/captions/comment.png', :alt =>'Групппа молодых дизайнеров', :id=>'comment' %>
</div>  

<div id='content' style="width:758px">
<center>

<table border=2>
  <tr>
    <th>Thumb</th> 
    <th>Title</th>
    <th>Description</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th><%= link_to 'New project', new_project_path %></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td>
      <% if project.thumb.exists? then %>
        <%= image_tag project.thumb.url %>
      <% end %>
    </td>
    <td><%=h project.title %></td>
    <td><%=h project.description %></td>
    <td><%=h project.date %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</center>
<br />


</div>