<h1>Listing projects</h1>

<table border=2>
  <tr>
    <th>Thumb</th> 
    <th>Title</th>
    <th>Description</th>
    <th>Date</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td>
      <% if project.thumb.exists? then %>
        <%= image_tag project.thumb.url %>
      <% end %>
    </td>
    <td><%=h project.title %></td>
    <td><%=h project.description %></td>
    <td><%=h project.date %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New project', new_project_path %>