<% link_to root_path, :class=> 'shadable', :id=>'logo' do %>
  <%= image_tag '/images/captions/logo.png', :alt =>'Studio DAS' %>
<% end %>
<div id='mainHeader' class = 'wide' >
  <%= image_tag '/images/captions/projectsTitle.png', :alt =>'Студия'%><br />
  <%= image_tag '/images/captions/comment.png', :alt =>'Группа молодых дизайнеров', :id=>'comment' %>
</div>  

<div id='content'>
<h2>Создание нового проекта</h2><br>
<center><table  id='formTable'><tr><td>
<% form_for(@project, :html => { :multipart => true }) do |form| %>
  <tr><td><%= form.error_messages %></td></tr>
  <%= render :partial => "form", :object => form %><br />
  <%= form.submit 'Создать' %>
<% end %>
</center></td></tr><table>
</div>