<% link_to root_path, :class=> 'shadable', :id=>'logo' do %>
  <%= image_tag '/images/captions/logo.png', :alt =>'Studio DAS' %>
<% end %>
<div id='mainHeader' class = 'wide' >
  <%= image_tag '/images/captions/projectsTitle.png', :alt =>'Проекты'%><br />
  <%= image_tag '/images/captions/comment.png', :alt =>'Группа молодых дизайнеров', :id=>'comment' %>
</div>  

<div id='content' style="width:758px">

<p>
  <b>Title:</b>
  <%=h @project.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @project.description %>
</p>

<% if @project.thumb.exists? then %>
<p><b>Thumb</b></p>
<p><%= image_tag @project.thumb.url %></p>

<% else %>
<p> There are no photo's attached, upload one. </p>
<% end %>

<p>



<% @project.attached_photos.each do |photo| %>
    <% if photo.photo.exists? then %>
       <%= image_tag photo.photo.url %>
    <% end %>
 <% end %>

</p>


<p>
  <b>Date:</b>
  <%=h @project.date %>
</p>

<p>
  <b>Author:</b>
  <%=h User.find_by_id(@project.author_id).name %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %>

</div>