<p>
  <b>Title:</b>
  <%=h @project.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @project.description %>
</p>

<% if @project.thumb.exists? then %>
<p>Thumb:<%= image_tag @project.thumb.url %></p>
<% else %>
<p> There are no photo's attached, upload one. </p>
<% end %>

<p>
  <b>Date:</b>
  <%=h @project.date %>
</p>

<p>
  <b>Author:</b>
  <%=h User.find_by_id(@project.author_id).name %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>