<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="дизайн, архитектура, ремонт, авторский надзор, интерьер, квартира, дом" />
  <%= stylesheet_link_tag 'base' %>
  <%= javascript_include_tag 'script' %>
  <link rel="SHORTCUT ICON" href="images/favicon.png">
  
  <title>Studio DAS — <%= controller.controller_name %>: <%= controller.action_name %></title>
</head>

  <body>
    <table id="page">
      <tr><td>
        <div id="pageHeader">
          <% if !current_user %>
          <%= link_to "Войти", new_user_session_path %> 
          <% else %>
          <%= link_to "Выйти", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
          <% end %>

          <p style="color: green">
            <%= flash[:notice]%></p>
          <p style="color: red">
            <%= flash[:error]%></p>
          
        </div>
          <div id="pageCenter">  
            <div id="pageBody">

                <%= yield %>
                <div>
                <ul id='menu'> 
                <li><%= link_to '&nbsp;', users_path, :id => 'studioMenu', :title => 'Студия' %></li>
                <li><%= link_to '&nbsp;', projects_path, :id => 'projectsMenu', :title => 'Проекты' %></li>
                <li><%= link_to '&nbsp;', contacts_path, :id => 'contactsMenu', :title => 'Контакты' %></li>
                </ul>
                <p id='copyright'>&copy; Studio DAS, Санкт-Петербург, 2009
                </p>
              </div>
            </div> 
          </div> 
          <div id="pageFooter">
          <!--LiveInternet counter-->
          <script type="text/javascript">
          <!--
          document.getElementById("pageFooter").innerHTML+="<a href='http://www.liveinternet.ru/click' "+"target=_blank><img src='http://counter.yadro.ru/hit?t45.1;r"+escape(document.referrer)+((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+";"+Math.random()+"' alt='' title='LiveInternet' "+"border=0 width=15 height=15><\/a>"
          //-->
          </script>
          <!--/LiveInternet-->
          </div>
          </td>
      </tr>
    </table>
  </body>
</html>